In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
books = pd.read_csv('books.csv')
users = pd.read_csv('users.csv')
ratings = pd.read_csv('ratings.csv')

C:\Users\gokul\AppData\Local\Temp\ipykernel_4092\3819754567.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('books.csv')

In [3]:
ratings['Book-Rating'] = ratings['Book-Rating']/2

In [4]:
ratings['Book-Rating'].max()

5.0

In [5]:
ind = ratings.loc[(ratings['User-ID'] == 276725) & (ratings['ISBN'] == '034545104X')].index[0]

In [6]:
ratings.loc[ ind ,'Book-Rating'] = 2.0

In [7]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X          2.0
1   276726  0155061224          2.5
2   276727  0446520802          0.0
3   276729  052165615X          1.5
4   276729  0521795028          3.0

In [8]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [9]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X          2.0
1   276726  0155061224          2.5
2   276727  0446520802          0.0
3   276729  052165615X          1.5
4   276729  0521795028          3.0

In [10]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [11]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [12]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [13]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [14]:
books.duplicated().sum()

0

In [15]:
ratings.duplicated().sum()

0

In [16]:
users.duplicated().sum()

0

## Popularity Based Recommender System

In [17]:
# remember "merge" function is a very important function which is very very very very helpful beleive me and it is nothing but a
# but a natural join , for example in the below code ratings mai books ke naam nahi hai karkehum "corresponding" naam books wale
# dataset se laate hai 
ratings_with_name = ratings.merge(books,on='ISBN')

In [18]:
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating':'num_ratings'},inplace=True)
num_rating_df

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [19]:
avg_rating_df = ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating_df.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
avg_rating_df

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    1.125000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    4.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.    0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.    2.625000
241068                                Ã?Â?sterlich leben.    3.500000
241069                              Ã?Â?stlich der Berge.    1.333333
241070                                  Ã?Â?thique en toc    2.000000

[241071 rows x 2 columns]

In [20]:
# here also we can see how powerfull and usefull the merge function actually is 
popular_df = num_rating_df.merge(avg_rating_df,on='Book-Title')
popular_df

,Book-Title,num_ratings,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,1.125000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,4.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,2.625000
241068,Ã?Â?sterlich leben.,1,3.500000
241069,Ã?Â?stlich der Berge.,3,1.333333
241070,Ã?Â?thique en toc,2,2.000000

In [21]:
popular_df = popular_df[popular_df['num_ratings']>=250].sort_values('avg_rating',ascending=False).head(50)

In [22]:
# This again shows how powerfull and important the merge function actually is 
popular_df = popular_df.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['ISBN','Book-Title','Book-Author','Image-URL-M','num_ratings','avg_rating']]

In [23]:
popular_df

,ISBN,Book-Title,Book-Author,Image-URL-M,num_ratings,avg_rating
0,0439136350,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,428,2.926402
3,0439139597,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,387,2.912145
5,0590353403,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...,278,2.868705
9,043935806X,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,347,2.750720
13,0439064872,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...,556,2.591727
16,0345339681,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339681.0...,281,2.503559
17,0345339703,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339703.0...,368,2.474185
26,059035342X,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,http://images.amazon.com/images/P/059035342X.0...,575,2.447826
28,0345339711,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339711.0...,260,2.440385
39,0446310786,To Kill a Mockingbird,Harper Lee,http://images.amazon.com/images/P/0446310786.0...,510,2.350000
47,0385504209,The Da Vinci Code,Dan Brown,http://images.amazon.com/images/P/0385504209.0...,898,2.321269
53,0786868716,The Five People You Meet in Heaven,Mitch Albom,http://images.amazon.com/images/P/0786868716.0...,430,2.275581
55,0316769487,The Catcher in the Rye,J.D. Salinger,http://images.amazon.com/images/P/0316769487.0...,449,2.272829
62,0316666343,The Lovely Bones: A Novel,Alice Sebold,http://images.amazon.com/images/P/0316666343.0...,1295,2.234363
63,0451524934,1984,George Orwell,http://images.amazon.com/images/P/0451524934.0...,284,2.227113
72,0060959037,Prodigal Summer: A Novel,Barbara Kingsolver,http://images.amazon.com/images/P/0060959037.0...,253,2.225296
73,0380789019,Neverwhere,Neil Gaiman,http://images.amazon.com/images/P/0380789019.0...,265,2.224528
78,0142001740,The Secret Life of Bees,Sue Monk Kidd,http://images.amazon.com/images/P/0142001740.0...,774,2.223514
84,0060392452,Stupid White Men ...and Other Sorry Excuses fo...,Michael Moore,http://images.amazon.com/images/P/0060392452.0...,283,2.178445
85,0385484518,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,http://images.amazon.com/images/P/0385484518.0...,493,2.177485
88,0312195516,The Red Tent (Bestselling Backlist),Anita Diamant,http://images.amazon.com/images/P/0312195516.0...,723,2.167358
89,0671461494,The Hitchhiker's Guide to the Galaxy,Douglas Adams,http://images.amazon.com/images/P/0671461494.0...,268,2.164179
98,0805063897,Nickel and Dimed: On (Not) Getting By in America,Barbara Ehrenreich,http://images.amazon.com/images/P/0805063897.0...,335,2.144776
100,0385486804,Into the Wild,Jon Krakauer,http://images.amazon.com/images/P/0385486804.0...,252,2.136905
103,3257208626,Fahrenheit 451,Ray Bradbury,http://images.amazon.com/images/P/3257208626.0...,409,2.132029
116,0452282152,Girl with a Pearl Earring,Tracy Chevalier,http://images.amazon.com/images/P/0452282152.0...,526,2.109316
117,0440222915,Outlander,DIANA GABALDON,http://images.amazon.com/images/P/0440222915.0...,283,2.086572
123,0446672211,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,http://images.amazon.com/images/P/0446672211.0...,585,2.052991
124,0449005615,Seabiscuit: An American Legend,LAURA HILLENBRAND,http://images.amazon.com/images/P/0449005615.0...,275,2.049091
126,0151008116,Life of Pi,Yann Martel,http://images.amazon.com/images/P/0151008116.0...,664,2.044428
130,0060915544,The Bean Trees,Barbara Kingsolver,http://images.amazon.com/images/P/0060915544.0...,389,2.043702
133,1558743669,"A Child Called \It\"": One Child's Courage to S...",Dave Pelzer,http://images.amazon.com/images/P/1558743669.0...,265,2.043396
135,0684874350,ANGELA'S ASHES,Frank McCourt,http://images.amazon.com/images/P/0684874350.0...,279,2.037634
137,0743418174,Good in Bed,Jennifer Weiner,http://images.amazon.com/images/P/0743418174.0...,490,2.027551
139,0060938455,Fast Food Nation: The Dark Side of the All-Ame...,Eric Schlosser,http://images.amazon.com/images/P/0060938455.0...,321,2.018692
140,0380789035,American Gods,Neil Gaiman,http://images.amazon.com/images/P/0380789035.0...,302,2.003311
141,0385505833,Skipping Christmas,JOHN GRISHAM,http://images.amazon.com/images/P/0385505833.0...,322,2.003106
147,0842329129,Left Behind: A Novel of the Earth's Last Days ...,Tim Lahaye,http://images.amazon.com/images/P/0842329129.0...,318,2.001572
149,037582345X,"The Golden Compass (His Dark Materials, Book 1)",PHILIP PULLMAN,http://images.amazon.com/images/P/037582345X.0...,336,2.000000
157,0671617028,The Color Purple,Alice Walker,http://images.amazon.com/images/P/0671617028.0...,314,1.982484
163,0312924585,Silence of the Lambs,Thomas Harris,http://images.amazon.com/images/P/0312924585.0...,256,1.980469
166,1573227331,About a Boy,Nick Hornby,http://images.amazon.com/images/P/1573227331.0...,262,1.950382
173,0312265840,Seven Up (A Stephanie Plum Novel),Janet Evanovich,http://images.amazon.com/images/P/0312265840.0...,278,1.944245
175,0062502174,The Alchemist: A Fable About Following Your Dream,Paulo Coelho,http://images.amazon.com/images/P/0062502174.0...,266,1.937970
177,0312983867,Hard Eight : A Stephanie Plum Novel (A Stephan...,Janet Evanovich,http://images.amazon.com/images/P/0312983867.0...,269,1.912639
182,0316969443,Suzanne's Diary for Nicholas,James Patterson,http://images.amazon.com/images/P/0316969443.0...,457,1.910284
186,0399501487,Lord of the Flies,William Gerald Golding,http://images.amazon.com/images/P/0399501487.0...,259,1.909266
192,0345361792,A Prayer for Owen Meany,John Irving,http://images.amazon.com/images/P/0345361792.0...,413,1.898305
194,0345313860,"The Vampire Lestat (Vampire Chronicles, Book II)",ANNE RICE,http://images.amazon.com/images/P/0345313860.0...,301,1.888704
195,0316284955,White Oleander : A Novel (Oprah's Book Club),Janet Fitch,http://images.amazon.com/images/P/0316284955.0...,356,1.886236

## Collaborative Filtering Based Recommender System

In [24]:
x = ratings_with_name.groupby('User-ID').count()['Book-Rating'] > 200
# here "x[x] is also a very important concept called boolean indexing" and how it is usefull is that if you have a list/series
# called "x" having true and false values and suppose tereko usme se bas vo row chahiye which have true then we do this boolean
# indexing , you can see its importance in 37:30 of the tutorial video
padhe_likhe_users = x[x].index

In [25]:
# The isin() function is also very important and is the one I have been searching for , for example suppose you have some values
# in a list called "x" and suppose you want only those rows from the dataframe which has one of the values present in the list x
filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(padhe_likhe_users)]

In [26]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index

In [27]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [28]:
pt = final_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [29]:
pt.fillna(0,inplace=True)

In [30]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0

In [31]:
# Now normally we apply neighrest neighbour algorithm the fin the top similar vectors( here each vector is the entire row of
# the "pt" that we have above) but we can do that using the cosine_simi-larity function as well which will give us a matrix
# telling us the similarity of every vector with every other vector
from sklearn.metrics.pairwise import cosine_similarity

In [32]:
similarity_scores = cosine_similarity(pt)

In [33]:
similarity_scores.shape

(706, 706)

In [34]:
type(pt.index)

pandas.core.indexes.base.Index

In [35]:
def recommend(book_name):
    # index fetch
    # Now here np.where() is also a very important function and is very usefull which will tell us the index of where the given \
    # condition is true , np.where() takes an array of boolean values as input parameter and tell us where all there is "true"
    # present in technical terms 
    index = np.where(pt.index==book_name)[0][0]
    # here the key parameter takes a function which takes the set of columns as parameter "x" and then sort the given data
    # structure on the basis of that column , reverse parameter will sort it in descending order
    # enumerate function will simply return us both the index number and the value of the data structure and here we are taking 
    # the index because ek baar sort ho jaega to ulta phulta ho jaega na index numbers that is why sort karneke pahle hi index 
    # bhi nikalke rakh rhe hai 
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
    
    return data

In [36]:
recommend('1984')

[['Animal Farm',
  'George Orwell',
  'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'],
 ["The Handmaid's Tale",
  'Margaret Atwood',
  'http://images.amazon.com/images/P/0449212602.01.MZZZZZZZ.jpg'],
 ['Brave New World',
  'Aldous Huxley',
  'http://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg'],
 ['The Vampire Lestat (Vampire Chronicles, Book II)',
  'ANNE RICE',
  'http://images.amazon.com/images/P/0345313860.01.MZZZZZZZ.jpg']]

In [37]:
pt.index[545]

"The Handmaid's Tale"

In [38]:
import pickle
pickle.dump(popular_df,open('popbooks.pkl','wb'))

In [39]:
books.drop_duplicates('Book-Title')

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271354,0449906736,Flashpoints: Promise and Peril in a New World,Robin Wright,1993,Ballantine Books,http://images.amazon.com/images/P/0449906736.0...,http://images.amazon.com/images/P/0449906736.0...,http://images.amazon.com/images/P/0449906736.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [40]:
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(books,open('books.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))

In [41]:
users.dtypes

User-ID       int64
Location     object
Age         float64
dtype: object

In [42]:
books.iloc[0]['Image-URL-L']

'http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg'

In [43]:
ratings['Book-Rating'].max()

5.0

In [44]:
pickle.dump(users,open('users.pkl','wb'))

In [45]:
books[books['Book-Title'] == 'Outlander']['Image-URL-M']

4934      http://images.amazon.com/images/P/0440222915.0...
7994      http://images.amazon.com/images/P/0385319959.0...
8946      http://images.amazon.com/images/P/0440212561.0...
9884      http://images.amazon.com/images/P/0385302304.0...
93316     http://images.amazon.com/images/P/0553473298.0...
172327    http://images.amazon.com/images/P/0930044177.0...
Name: Image-URL-M, dtype: object

In [46]:
book123 = books[books['ISBN'] == '0590353403']

In [47]:
book123['Book-Title'].values[0]

"Harry Potter and the Sorcerer's Stone (Book 1)"

In [48]:
book123

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
2809,0590353403,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,1998,Scholastic,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...